.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.calculation, .answer{
 text-align: right;
 
}

.calci{
    display: flex;
    flex-direction: column;
    padding: 1%;
    height: 70%;
    width: 25%;
    border: 2px solid black;
    margin: auto;
    align-items: center;
}

.display{
    padding: 2%;
    height: 20%;
    width: 80%;
    background-color: antiquewhite;
    margin: 5%;
}

.cal-button{
    justify-content: center;
    width: 90%; 
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    gap: 5%;
}

.btn{
    font-size: 30px;
    height: 25%;
    width: 20%;
}