body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.box-shadow{
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
  transition: box-shadow 0.3s ease-in-out;
}
.box-shadow::after {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  opacity: 0; /* hide the hover shadow */
  transition: opacity 0.3s ease-in-out;
}
.box-shadow:hover {
box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}
.box-shadow:hover::after {
  opacity: 1; /* show the hover shadow */
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
