body{
    margin: 0px;
    background-color: rgba(245, 245, 220, 0.421);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.container:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

h1{
    text-align: center;
}

.form-group{
    margin-bottom: 20px;
}

.form-group label{
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

#dob{
    display: block;
    text-align: center;
    margin: auto;
}

#cal-age{
    background-color: #87CEEB;
    display: block;
    margin: auto;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cal-age:hover{
    box-shadow: 0px 0px 2px black;
}

p{
    display: block;
    text-align: center;
}